* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: -2;
}

.video-background video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%; 
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
    object-fit: cover;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: -1;
        }


body {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    margin: 0;
    padding-top: 30px;
    position: relative;
        }

h1 {
    color: #000000;
}

#stats {
    margin: 15px 0;
    font-size: 18px;
    color: #444;
}

#gameBoard {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    max-width: 440;
    margin: 0 auto;
}

.card {
    width: 100px;
    height: 100px;
    perspective: 1000px;
    margin: 5px;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

.card.flipped .card-inner {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;

}

.card-front {
    background-color: #4a90e2;
    color: white;
    font-size: 24px;
}

.card-back img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.card-back {
    background-color: #fff;
    border: 2px solid #4a90e2;
    transform: rotateY(180deg);
}

#restartBtn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #05448b;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;
    margin-bottom: 20px;
}

#restartBtn:hover {
    background-color: #357abd;
}

#moves {
    font-weight: bold;
}